
body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #343a40;
}

.container {
    width: 100%;
    max-width: 3000px;
    margin: 0 auto;
}



#map {
    /* rounded corners */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /* shadow */
    -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    /* border */
    border: 4px solid #494646;
}

.btn,.input-size {
    /* fixed width */
    width: 90%;
}

.center-text {
    text-align: center;
}

.data {
    text-align: left;
}

